In [ ]:
from config import START_DATE, END_DATE, PATH_SRL_WORK_DATA
import pandas as pd

  

df = pd.read_pickle(PATH_SRL_WORK_DATA)

C:\Users\AdminMichael\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,position,Price [EUR/MWh] Up,Price [EUR/MWh] Down,GERMANY_aFRR_SETPOINT_[MW],srl_positive,srl_negative
2022-06-28 00:00:00+02:00,19801,NaN,147.870,-5.343,0.0,-5.343
2022-06-28 00:00:04+02:00,19802,228.694,228.694,-4.150,0.0,-4.150
2022-06-28 00:00:08+02:00,19803,350.860,NaN,0.000,0.0,0.000
2022-06-28 00:00:12+02:00,19804,350.860,NaN,0.000,0.0,0.000
2022-06-28 00:00:16+02:00,19805,364.540,NaN,0.000,0.0,0.000
...,...,...,...,...,...,...
2025-06-27 23:59:40+02:00,19796,NaN,77.270,0.000,0.0,0.000
2025-06-27 23:59:44+02:00,19797,NaN,77.000,0.000,0.0,0.000
2025-06-27 23:59:48+02:00,19798,NaN,75.500,0.000,0.0,0.000
2025-06-27 23:59:52+02:00,19799,NaN,75.500,0.000,0.0,0.000
2025-06-27 23:59:56+02:00,19800,NaN,75.500,0.000,0.0,0.000

In [ ]:
# rename srl_positive to affr_pos setpoint
df.rename(columns={'srl_positive': 'affr_pos_setpoint'}, inplace=True)
# rename srl_negative to affr_neg setpoint
df.rename(columns={'srl_negative': 'affr_neg_setpoint'}, inplace=True)

,position,Price [EUR/MWh] Up,Price [EUR/MWh] Down,GERMANY_aFRR_SETPOINT_[MW],affr_pos_setpoint,affr_neg_setpoint
2022-06-28 00:00:00+02:00,19801,NaN,147.870,-5.343,0.0,-5.343
2022-06-28 00:00:04+02:00,19802,228.694,228.694,-4.150,0.0,-4.150
2022-06-28 00:00:08+02:00,19803,350.860,NaN,0.000,0.0,0.000
2022-06-28 00:00:12+02:00,19804,350.860,NaN,0.000,0.0,0.000
2022-06-28 00:00:16+02:00,19805,364.540,NaN,0.000,0.0,0.000
...,...,...,...,...,...,...
2025-06-27 23:59:40+02:00,19796,NaN,77.270,0.000,0.0,0.000
2025-06-27 23:59:44+02:00,19797,NaN,77.000,0.000,0.0,0.000
2025-06-27 23:59:48+02:00,19798,NaN,75.500,0.000,0.0,0.000
2025-06-27 23:59:52+02:00,19799,NaN,75.500,0.000,0.0,0.000
2025-06-27 23:59:56+02:00,19800,NaN,75.500,0.000,0.0,0.000

In [4]:
df.to_pickle('srl_work_4s_2022-06-28 - 2025-06-28.pkl')